.html {
    align-items: center;
color:red ;
font-family: Arial, Helvetica, sans-serif;
font-size: 250px;
text-align: center;
/* font-weight:; */
}

h1{
color: brown;
font-size: 50%;  /* 205px ka 50% hoga ya site screen k*/
}

#myid{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1rem;
font-weight: 900;
font-style: italic;
text-align: center;
}
